.adobe
bar
.bash_history
.bash_logout
bspwm
.cache
.cinnamon
CLion
.CLion12
ClionProjects
.config
ConsoleTetris
CPPLibraries
.dbus
.designer
Desktop
.dmrc
Documents
Downloads
.dropbox
Dropbox
.dropbox-dist
.emacs.d
.gconf
.gimp-2.8
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gitconfig
.gphoto
.grive
.gvfs
.hplip
.ICEauthority
.icons
.java
.kde
.linuxmint
.local
.macromedia
matlab
.matlab
.minecraft
.mozilla
Music
.netrc
.netrwhist
Pictures
PiStuff
.pki
.profile
Public
.python_history
RaspPiAlarmclock
.recently-used
.Skype
.spacemacs
.ssh
.subversion
sutils
.swt
sxhkd
TDDB68
TDDD86
.TelegramDesktop
Templates
.themes
.thumbnails
.thunderbird
TSEA83
Videos
.viminfo
.Xauthority
.xinputrc
.xsession-errors
xtitle
