.CLion12
.ICEauthority
.Skype
.TelegramDesktop
.Xauthority
.Xresources
.adobe
.arduino15/
.arduinoIDE/
.bash_history
.bash_logout
.cache
.cargo/
.cinnamon
.config/Arduino IDE/
.config/Code/
.config/FreeCAD/
.config/JetBrains/
.config/PrusaSlicer/
.config/QtProject.conf
.config/Thunar/
.config/arduino-ide/
.config/autorandr/
.config/autostart/
.config/caja/
.config/chromium/
.config/cinnamon/
.config/dconf/
.config/enchant/
.config/evolution/
.config/gedit/
.config/github-copilot/
.config/gtk-3.0/
.config/hexchat/
.config/htop/
.config/kicad/
.config/libreoffice/
.config/mapeditor.org/
.config/menus/
.config/mimeapps.list
.config/nemo/
.config/nvim/pack/
.config/pavucontrol.ini
.config/pulse/
.config/qt5ct/
.config/spotify/
.config/tlpui/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.dbus
.designer
.dmrc
.dotnet/
.dropbox
.dropbox-dist
.elm/
.emacs.d
.fehbg
.gconf
.gdbinit
.gimp-2.8
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnupg/
.gphoto
.grive
.gtkrc-2.0
.gtkrc-xfce
.gvfs
.hplip
.i3/
.i3status.conf
.icons
.java
.kde
.lesshst
.linuxmint
.local
.macromedia
.matlab
.minecraft
.mozilla
.netrc
.netrwhist
.nix-defexpr/
.node_repl_history
.npm/
.picomlog
.pki
.profile
.profile.bak
.python_history
.recently-used
.rustup/
.spacemacs
.ssh
.steam/
.steampath
.steampid
.subversion
.sudo_as_admin_successful
.swt
.teensy
.themes
.thumbnails
.thunderbird
.tig_history
.var/
.vim/bundle/
.viminfo
.vscode/
.wget-hsts
.xinitrc
.xinputrc
.xsession-errors
.xsession-errors.old
Arduino/
Desktop
Documents
Downloads
Dropbox
FreeCAD_0.21.1-Linux-x86_64.AppImage
Music
Pictures
Programming/
Templates
Tiled-1.10.2_Linux_Qt-6_x86_64.AppImage
Videos
bar
dot_debian/
i3lock-color/
matlab
sutils
sxhkd
test.py
xidlehook/
xtitle
.fonts
.nvm
.config/nvim/lazy-lock.json
neovim
polybar*
.audacity-data/
.config/backupnvim/
.config/blender/
.config/cura/
.config/font-manager/
.config/fontconfig/
.config/nvim/.stylua.toml
.config/nvim/ftplugin/
.config/terminator/
.config/xed/
.yosys_history
Cura.AppImage
config.xml
configs/
cores/
dock.sh
icons-in-terminal/
log.txt
logs/
texput.log
work/
Work/
.clock.json
.config/Slack/
.config/solaar/
.fzf.bash
.fzf/
.mtpaint
.platformio/
error
.config/X-Cinnamon-xdg-terminals.list
.config/xdg-terminals.list
snap/
zscroll/
